[all:vars]
cluster_name=k3
ansible_user=alpine
ansible_python_interpreter=/usr/bin/python3
registry=http://10.2.11.1:5000
k8s_distro=k3s
kubevip_vip_interface=br0
kubevip_address=10.2.42.86

[bastion]
k3 ansible_host=10.2.42.10

[master]
k3a1
k3a2
k3a3

[compute]
k3b1
k3b2
k3b3
