global
    log /dev/log local0
    log /dev/log local1 notice
    daemon

defaults
    log global
    retries 3
    maxconn 2000
    timeout connect 5s
    timeout client 120s
    timeout server 120s

{% if k8s_distro == 'rke2' %}

frontend kub3lo-disco
    mode tcp
    bind 0.0.0.0:8686
    default_backend kub3lo-disco

backend kub3lo-disco
    mode tcp
    balance roundrobin
    option tcp-check

{% for short_hostname, ipv4_address in backend_servers %}
    server {{ short_hostname }} {{ ipv4_address }}:9345 check port 9345
{% endfor %}

{% endif %}

frontend kub3lo-api
    mode tcp
    bind 0.0.0.0:6969
    default_backend kub3lo-api

backend kub3lo-api
    mode tcp
    balance roundrobin
    option tcp-check

{% for short_hostname, ipv4_address in backend_servers %}
    server {{ short_hostname }} {{ ipv4_address }}:6443 check port 6443
{% endfor %}
