---
- name: install extra packages
  ansible.builtin.package:
    name: "{{ _packages[ansible_os_family] }}"
  vars:
    _packages:
      Alpine:
        - bash
        - gawk
        - tar
      Debian:
        - bash
        - tar
        - zstd
  register: package
  until: package is success
  retries: 12
  delay: 5
