---
- ansible.builtin.import_role:
    name: master/wait

- name: configure kub3lo service
  ansible.builtin.template:
    src: kub3lo
    dest: /etc/conf.d/kub3lo
    mode: u=rwx,go=rx

- name: try to join k3s
  block:
    - name: join k3s
      environment:
        K3S_TOKEN: kub3lo
        AWK_SCRIPT: |
          BEGIN { IGNORECASE = 1; ping = 1; ping_max = 6 } # 6 * 5s
          ping > ping_max { exit }
          /level=debug/ && /ping/ { print $0 " " ping++ "/" ping_max; next }
          { ping = 1; print }
      ansible.builtin.shell:
        cmd: |
          set -o errexit -o pipefail
          timeout 120s /usr/local/bin/k3s server \
          --debug \
          --server https://{{ kubevip_address }}:6443 \
          --node-taint CriticalAddonsOnly=true:NoExecute \
          |& awk "$AWK_SCRIPT"
        executable: /bin/bash
        creates: /etc/rancher/k3s/k3s.yaml
      register: shell_join_k3s
      failed_when:
        - shell_join_k3s.rc != 0
        - shell_join_k3s.rc != 141 # SIGPIPE
  rescue:
    - name: remember original error
      ansible.builtin.set_fact:
        failed_result: "{{ ansible_failed_result }}"

    - name: cleanup local k3s (to enable manual retry)
      ansible.builtin.shell:
        cmd: |
          set -o errexit -o pipefail

          rm -r /etc/rancher/k3s/

          find /var/lib/rancher/k3s/ \( -type f -or -type l \) -and -not -name 'k3s-airgap-images-*.tar' -print0 \
          | xargs -0r -n1 rm

          find /var/lib/rancher/k3s/ -type d -print0 \
          | sort -zr \
          | xargs -0r -n1 rmdir --ignore-fail-on-non-empty
        executable: /bin/bash

    - name: raise original error
      ansible.builtin.fail:
        msg: "{{ failed_result }}"

- name: start kub3lo service
  ansible.builtin.service:
    name: kub3lo
    state: started
